services:
  mongodb:
    image: mongo:latest
    restart: on-failure
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    ports:
      - 27017:27017
    volumes:
      - mongoData:/data/db
      - ./mongod.conf:/etc/mongod.conf

  app-backend:
    image: node:20-alpine
    build: .
    ports:
      - 3000:3000
    restart: on-failure
    environment:
      - PORT=3000
      - MONGO_HOST=localhost
      - MONGO_PORT=27017
      - MONGO_DB=localdb
      - MONGO_SSL=true
      - MONGO_CA=/etc/ssl/certs/ca-certificates.crt

volumes:
  mongoData:
